<?xml version="1.0"?>
<config>
    <modules>
        <Mongroupe_Monmodule>
            <version>0.1.0</version>
        </Mongroupe_Monmodule>
    </modules>
    <global>
        <blocks>
            <monmodule>
                <class>Mongroupe_Monmodule_Block</class>
            </monmodule>
        </blocks>
        <helpers>
            <monmodule>
                <class>Mongroupe_Monmodule_Helper</class>
            </monmodule>
        </helpers>
        <models>
            <monmodule>
                <class>Mongroupe_Monmodule_Model</class>
                <resourceModel>monmodule_resource</resourceModel>
            </monmodule>
            <monmodule_resource>
                <class>Mongroupe_Monmodule_Model_Resource</class>
                <entities>
                    <matable>
                        <table>ma_table</table>
                    </matable>
                </entities>
            </monmodule_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <monmodule>
                <use>standard</use>
                <args>
                    <module>Mongroupe_Monmodule</module>
                    <frontName>monmodule</frontName>
                </args>
            </monmodule>
            <customer>
                <args>
                    <modules>
                        <Mongroupe_Monmodule before="Mage_Customer">Mongroupe_Monmodule</Mongroupe_Monmodule>
                    </modules>
                </args>
            </customer>
        </routers>

        <layout>
            <updates>
                <modulename>
                    <file>modulename.xml</file>
                </modulename>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mongroupe_Monmodule>
                    <files>
                        <default>Mongroupe_Monmodule.csv</default>
                    </files>
                </Mongroupe_Monmodule>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <monmodule>
                <use>admin</use>
                <args>
                    <module>Mongroupe_Monmodule</module>
                    <frontName>monmodule</frontName>
                </args>
            </monmodule>
        </routers>
    </admin>

</config>
